html, body {
     height:100%;
     width: 98%;
     background-color: #dbf3f9;
}

.button {
    background-color: #AAA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
     background-color: #DDD;
}

.usermessage {
     background-color: #ffe084;
     text-align: center;
     font-size: 1.2em;
     margin: 0px;
     padding: 0px;
}

.alert-danger {
     background-color: pink;
     border: 20px;
}

.alert-danger ul {
     padding: 0px;
     margin-right: 20px;
}

.alert-danger ul li {
     list-style: none;
     margin: 5px;
     padding: 5px;
     border: 5px;
}

.mycenter {
     text-align: center;
}

#mainBody {
     margin: 0px 20px 0px 20px;
}

#program_title {
     color: blue;
     text-align: center;
}

#results {
     border-color: black;
     border-style: solid;
     border-width: 2px;
     margin: 40px 10px 10px 10px;
     padding: 10px;
}

#results h2 {
     margin-top: 0px;
     font-style: italic;
     text-align: center;
}

pre {
     border-color: black;
     border-style: solid;
     border-width: 2px;
     margin: 40px 10px 10px 10px;
     padding: 10px;
     background-color: #DDD;
}

.headerrow{
     background-color: #DDD;
}

.divTable{
     display: table;
}
.divTableRow {
     display: table-row;
}
.divTableHeading {
     background-color: #EEE;
     display: table-header-group;
}
.divTableCell, .divTableHead {
     border: 1px solid #999999;
     display: table-cell;
     padding: 3px 10px;
}
.divTableHeading {
     background-color: #EEE;
     display: table-header-group;
     font-weight: bold;
}
.divTableFoot {
     background-color: #EEE;
     display: table-footer-group;
     font-weight: bold;
}
.divTableBody {
     display: table-row-group;
}